@import url('https://cdn.jsdelivr.net/gh/senalbulumulle/FOIL-UI-Framework-Library/FOIL-UI.css');
body {
        background-color: rgb(25, 25, 25);
}

.FOIL-navigation-bar-regular {
        background-color: rgb(25, 25, 25);
        color: white;
}
.FOIL-layout-regular-no-shadow {
        background-color: rgb(25, 25, 25);
        color: white;
}

a {
        background-color: white;
        color: black;
        text-decoration: none;
        transition-duration: 0.9s;
}

a:hover {
        background-color: white;
        height: 100px;
        color: black;
}

a:active {
        background-color: white;
        height: 100px;
        color: black;
}

caption {
        font-size: 10px; 
        font-weight: 900;       
}